@model WorkScheduler.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход в ИСШ</title>
    <style>
        body {
            font: 1rem 'Fira Sans', sans-serif;
            background-color: white;
        }

        .container {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 10px;
        }

        .field {
            margin: 5px;
            text-align: center;
            width: 100%;
            font-size: larger;
        }

        button {
            width: 100%;
            margin: 5px;
            background-color: #007ad9;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .elements {
            width: 500px;
            text-align: center;
        }

        .message {
            text-align: center;
            color: orangered;
        }

        input, select, textarea {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="text-align:center"><h3>Для продолжения работы с выбраным приложением необходимо выполнить вход.<br/>Введите учётные данные ИСШ</h3></div>
        <div style="margin-top: 15px;" class="elements">
            <form method="post">
                <input class="field" type="text" name="Username" autocomplete="off" id="username" placeholder="Логин"></br>
                <input class="field" type="password" name="Password" autocomplete="off" id="password" placeholder="Пароль">
                <div style="margin-top: 15px;">
                    <input type="checkbox" id="remember" name="Remember" />
                    <label for="remember">Выполнять вход автоматически на этом компьютере</label>
                </div>

                <button  style="margin-top: 15px;" type="submit">Войти</button>
            </form>
        </div>
        @{
            if (!String.IsNullOrEmpty(ViewBag.Message))
            {
                <div style="margin-top: 10px;" class="message">
                    @ViewBag.Message
                </div>
            }
        }
    </div>
</body>
</html>
