<div>
  <h1>Журнал внеурочной деятельности</h1>
  <app-register-params
  [allAcademicYears]="allAcademicYears"
  [associations]="associations"
  (selectedAcademicYearChanged)="loadAssociations($event)"
  (selectedAssociationChanged)="loadGroups($event)"
  (selectedGroupChanged)="updateSelectedGroup($event)"
  [groups]="groups">
</app-register-params>
  <div class="pane">
    <button type="button" class="btn btn-primary">Сформировать документ</button>
  </div>
  <div class="tabs">
    <tabset>
      <tab heading="Журнал">
        <app-register-table [rows]="registerRows"></app-register-table>
      </tab>
      <tab heading="Календарно-тематическое планирование">
        <app-register-planing
        [selectedAcademicYear]="selectedAcademicYear"
        [selectedAssociation]="selectedAssociation"
        [selectedGroup]="selectedGroup"
        [needRefresh]="refreshPlaning"
      ></app-register-planing>
      </tab>
    </tabset>
  </div>
</div>