textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clock {
  width: 50px !important;
  text-align: center;
  display: inline;
}

.modal-body div {
  margin-top: 15px;
}

.deleted-action {
  opacity: 0.4;
}

.badge {
  background-color: darkcyan !important;
}

.done {
  opacity: 0.4 !important;
}

.important {
  font-weight: bolder !important;
}

.gray {
  color: gray !important;
}

.glyphicon-ok {
  color: limegreen;
}

.glyphicon-exclamation-sign {
  color: orange;
}


.add-date-btn {
  margin: 16px;
  opacity: 0.3;
  transition: 0.5s;
}

.date-box:hover .add-date-btn {
  margin: 16px;
  opacity: 1;
  transition: 0.5s;
}

.top .top-item {
  margin-top: 5px;
}

.top-container {
  display: flex;
  justify-content: space-between;
 
  box-sizing: border-box;
}

.expired {
  background: antiquewhite;
}

h1 {
  margin-left: -15px;
}




.blue-text {
  color: #337ab7;
}

.red-text {
  color: #b73333 !important;
}