<table>
  <tr>
    <td>
      Объединение:
        <ng-select [items]="[1,2,3]"
                   style="width: 500px;"
                   placeholder="Щелкните здесь для выбора"
                   
                   [clearable]="true">
        </ng-select>
    </td>
    <td>
      Группа:
        <ng-select [items]="[1,2,3]"
                   style="width: 500px;"
                   placeholder="Щелкните здесь для выбора"
                   
                   [clearable]="true">
        </ng-select>
    </td>
  </tr>
  <tr>
    <td>
      Учебный год:
        <ng-select [items]="[1,2,3]"
                   style="width: 500px;"
                   placeholder="Щелкните здесь для выбора"
                   
                   [clearable]="true">
        </ng-select>
    </td>
    <td>
      Период:
        <ng-select [items]="[1,2,3]"
                   style="width: 500px;"
                   placeholder="Щелкните здесь для выбора"
                   
                   [clearable]="true">
        </ng-select>
    </td>
  </tr>
</table>      
      
        

        

        

        
