.panel-monitoring{
  border: 1px solid transparent;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.columns div {
    margin-right: 10px;
  }
  
.field-box div {
    margin: 10px 0
}