<h2>Мониторинг действующих договоров школы с другими организациями</h2>
<p><a href="javascript:void(0)" (click)="showAllHandler()"><h4>Выбрать колонки для отображения</h4></a></p>
<div *ngIf = "showAll">
  <form>
    <div class="columns">
      <div>
        <p><input name="organization" type="checkbox" [(ngModel)]="organization">Организация-партнёр</p>
      </div>
      <div>
        <p><input name="contractNumber" type="checkbox" [(ngModel)]="contractNumber">№ договора</p>
      </div>
      <div>
        <p><input name="dateSigning" type="checkbox" [(ngModel)]="dateSigning">Дата подписания, срок действия</p>
      </div>
      <div>
        <p><input name="signedBy" type="checkbox" [(ngModel)]="signedBy">Предмет договора</p>
      </div>
      <div>
        <p><input name="subject" type="checkbox" [(ngModel)]="subject">Кем подписан</p>
      </div>
      <div>
        <p><input name="contractSum" type="checkbox" [(ngModel)]="contractSum">Сумма договора</p>
      </div>
      <div>
        <p><input name="status" type="checkbox" [(ngModel)]="status">Статус</p>
      </div>
      <div>
        <p><input name="controlDate" type="checkbox" [(ngModel)]="controlDate">Дата контроля</p>
      </div>
    </div>
  </form>
</div>
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Организация-партнёр</th>
      <th scope="col">№ договора</th>
      <th scope="col">Дата подписания, срок действия</th>
      <th scope="col">Предмет договора</th>
      <th scope="col">Кем подписан</th>
      <th scope="col">Сумма договора</th>
      <th scope="col">Статус (подготовлен, на подписании, в исполнении, завершён)</th>
      <th scope="col">Дата контроля (указать замечания после проверки)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ООО "Алкир"</td>
      <td>5065</td>
      <td>18.04.2020, 5 лет</td>
      <td>Русския язык</td>
      <td>Работник</td>
      <td>1 рубль</td>
      <td>завершён</td>
      <td>14.02.2020</td>
    </tr>
  </tbody>
</table> -->