<h2>Мониторинг действующих договоров школы с другими организациями</h2>
<p><a href="javascript:void(0)" (click)="showAllHandler()"><h4>Выбрать колонки для отображения</h4></a></p>
<div *ngIf = "showAll">

    <div class="columns">
      <div *ngFor="let column of columns"> 
        <p><input type="checkbox" [(ngModel)]="column.visibility">{{column.name}}</p>
      </div>
    </div>

</div>

<table class="table">
  <thead>
    <tr>
      <th *ngFor = "let column of getVisibleColumns()" scope="col">{{column.name}}</th>
    </tr>
    
    <tr *ngFor="let d of data">
      <td *ngFor="let column of getVisibleColumns()">{{getPropertyValue(d, column.variable)}}</td>
    </tr>
  </thead>
</table>


<button type="button" (click)="openModal(add)" class="btn btn-success top-item" style="float: right; margin: 10px 0;"><span class="glyphicon glyphicon-plus"></span> Зарегистрировать новый договор</button>&nbsp;

<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Зарегистрировать новый договор</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="margin-top: -10px" class="field-box">
      <div>
        Организация:
        <input type="text" [(ngModel)]="contractToCreate.organization" class="form-control" placeholder="Организация">
      </div>
      <div>
        № договора:
        <input type="text" [(ngModel)]="contractToCreate.number" class="form-control" placeholder="№ договора">
      </div>
      <div>
        Дата подписания, срок действия:
        <input type="text" placeholder="Щелкните здесь для выбора" class="form-control" 
        [(ngModel)]="contractToCreate.signingData" AUTOCOMPLETE="off" [bsConfig]="bsConfig" bsDatepicker>
      </div>
      <div>
        Предмет договора:
        <input type="text" [(ngModel)]="contractToCreate.subject" class="form-control" placeholder="Предмет договора">
      </div>
      <div>
        Кем подписан:
        <input type="text" [(ngModel)]="contractToCreate.signedBy" class="form-control" placeholder="Кем подписан">
      </div>
      <div>
        Сумма договора:
        <input type="number" [(ngModel)]="contractToCreate.sum" class="form-control" step="0.01" min="0" placeholder="0,00">
      </div>
      <div>
        Статус:
          <ng-select>
          </ng-select>
      </div>
      <div>
        Дата контроля:
        <input type="text" placeholder="Щелкните здесь для выбора" class="form-control" 
        [(ngModel)]="contractToCreate.controlDate" placement="top" AUTOCOMPLETE="off" [bsConfig]="bsConfig" bsDatepicker>
      </div>
      <div>
        Комментарий:
        <textarea [(ngModel)]="contractToCreate.comment" class="form-control" placeholder="Комментарий"></textarea>
      </div>
    </div>

    <div style="text-align:center; margin-top: 15px;">
      <button type="button" (click)="closeModal()" class="btn btn-danger">Отмена</button>
      <button type="button" class="btn btn-success">Зарегистрировать</button>
    </div>
  </div>
</ng-template>


