<div style="word-wrap: break-word;">
  <h1>Чек-лист: "{{checklist.name}}"</h1>
</div>

<div style="text-align: left">
  <button type="button" (click)="clear(); openModal(add)" class="btn btn-success">Добавить задание</button>
</div>

<br />

<div style="text-align: center; margin-top: 50px; font-style: italic;"
  *ngIf="!checklist.tickets || checklist.tickets.length == 0"><span>Заданий нет</span></div>

<table class="table" *ngIf="checklist.tickets && checklist.tickets.length != 0">
  <thead>
    <tr>
      <th scope="col" style="width: 5%">Дата</th>
      <th scope="col" style="width: 5%">Время</th>
      <th scope="col" style="width: 30%">Наименование</th>
      <th scope="col" width="30%">Комментарий</th>
      <th scope="col" width="30%">Кому назначена</th>
      <th scope="col" width="5%">Статус</th>
      <th scope="col" width="5%">Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of checklist.tickets" 
    [class.blue]="ticket.status == 1"
    [class.yellow]="ticket.status == 2"
    [class.green]="ticket.status == 4"
    [class.blue]="ticket.status == 1"
    [class.blue]="ticket.status == 1">
      <td>{{ticket.date | date : 'dd.MM.yyyy'}}</td>
      <td><span>{{ticket.hours}}:{{ticket.minutes}}<span *ngIf="ticket.minutes == 0">0</span></span></td>
      <td>{{ticket.name}}</td>
      <td>{{ticket.comment}}</td>
      <td>
        <span *ngIf="ticket.user.firstName" class="badge">
          {{ticket.user.lastName}} {{ticket.user.firstName[0]}}. {{ticket.user.surName[0]}}.
        </span>
      </td>
      <td>
        <span *ngIf="ticket.status == 0">Не назначено</span>
        <span *ngIf="ticket.status == 1">Назначено</span>
        <span *ngIf="ticket.status == 2">Принято</span>
        <span *ngIf="ticket.status == 3">Отклонено</span>
        <span *ngIf="ticket.status == 4">Готово</span>
      </td>
      <td>
        <div style="text-align: center">
          <a title="Редактировать" href="javascript:void(0)" (click)="copy(ticket); openModal(edit)"><span
              style="color: purple" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
          <a title="Удалить" href="javascript:void(0)" (click)="delete(ticket)"><span style="color: red"
              class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Создать задание</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="margin-top: -10px">
      Наименование:
      <input type="text" [(ngModel)]="newTicket.name" class="form-control" placeholder="Название задания">
    </div>
    <br />
    <div>
      Дата:
      <input type="text" placeholder="Щелкните здесь для выбора" class="form-control" [(ngModel)]="newTicket.date"
        AUTOCOMPLETE="off" [bsConfig]="bsConfig" bsDatepicker>
    </div>

    <div style="margin-top: 20px;">
      Время начала:
      <input type="text" [(ngModel)]="newTicket.hours" class="clock form-control" placeholder="ЧЧ"> :
      <input type="text" [(ngModel)]="newTicket.minutes" class="clock form-control" placeholder="ММ">
    </div>
    <br />

    Кому назначено:
    <ng-select [items]="responsibles | async"
      [multiple]="false" [closeOnSelect]="true" [searchable]="true" bindLabel="fullName"
      placeholder="Выберите только одного" [(ngModel)]="newTicket.user">
    </ng-select>
    <br />
    <div>
      Комментарий(не обязательно):
      <textarea [(ngModel)]="newTicket.comment" class="form-control" placeholder="Комментарий"></textarea>
    </div>
    <br />
    <div style="text-align:center; margin-top: 15px;">
      <button type="button" (click)="closeModal()" class="btn btn-danger">Отмена</button>
      <button type="button" (click)="addTicket(null)" class="btn btn-success">Сохранить</button>
    </div>

  </div>
</ng-template>

<ng-template #edit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Изменить задание</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="margin-top: -10px">
      Наименование:
      <input type="text" [(ngModel)]="newTicket.name" class="form-control" placeholder="Название записи">
    </div>

    <div>
      Дата:
      <input type="text"
             placeholder="Щелкните здесь для выбора"
             class="form-control"
             [(ngModel)]="newTicket.date"
             AUTOCOMPLETE="off"
             [bsConfig]="bsConfig"
             bsDatepicker>
    </div>
    <div>
      Время начала:
      <input type="text" [(ngModel)]="newTicket.hours" class="clock form-control" placeholder="ЧЧ"> :
      <input type="text" [(ngModel)]="newTicket.minutes" class="clock form-control" placeholder="ММ">
    </div>

    <br />

    Кому назначено:
    <ng-select [items]="responsibles | async"
      [multiple]="false" [closeOnSelect]="true" [searchable]="true" bindLabel="fullName"
      placeholder="Выберите только одного" [(ngModel)]="newTicket.user">
    </ng-select>
    <br />

    <div>
      Комментарий(не обязательно):
      <textarea [(ngModel)]="newTicket.comment" class="form-control" placeholder="Комментарий"></textarea>
    </div>

    <div style="text-align:center; margin-top: 15px;">
      <button type="button" (click)="closeModal()" class="btn btn-danger">Отмена</button>
      <button type="button" (click)="saveTicket()" class="btn btn-success">Сохранить</button>
    </div>

  </div>

</ng-template>

  <p-toast [baseZIndex]="1000"></p-toast>