.badge {
    background-color: darkcyan !important;
  }

  .clock {
    width: 50px !important;
    text-align: center;
    display: inline;
  }

  .blue {
    background-color: rgba(240, 248, 255, 0.64);
  }

  .yellow {
    background-color: rgba(255, 204, 5, 0.12);
  }

  .green {
    background-color: #abff001a;
  }

  .red {
    background-color: #ff00000d !important; 
  }

  .gray {
    color: gray !important;
  }

  .bold {
      font-weight: bold;
  }

.full-comment-textarea {
  border: none;
  height: 400px;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  resize: none;
}