<h1>Протоколы меропритяий</h1>
<br/>
<div style="display: flex; justify-content: flex-end">
    <ng-select [items]="[2019, 2020, 2021]"
               [(ngModel)]="selectedYear"
               appendTo="body"
               [clearable]="false"
               style="width: 100px">
    </ng-select>
</div>
<div>
    <tabset>
        <tab heading="Из моих планов">
            <div *ngIf="!protocols" style="text-align: center; margin-top: 50px; font-style: italic;"><span class="loading">Загрузка</span></div>
            <div *ngIf="protocols.length == 0" style="text-align: center; margin-top: 50px; font-style: italic;">
                <span>
                    Для мероприятий из ваших личных планов пока не было создано ни одного протокола. <br />
                    Перейдите в личный план, выберите мероприятие, для которого нужно создать протокол и нажмите на слово "Протокол".<br /><br />
                    Протоколы можно создавать только для мероприятий, у которых установлена форма подтверждения выполнения "Протокол",<br /> а также название мероприятия при его создании или редактировании выбрано из выпадающего списка
                </span>
            </div>

            <div *ngIf="protocols && protocols.length != 0" class="my-protocols-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Номер протокола</th>
                            <th scope="col">Протокол создан</th>
                            <th scope="col">Мероприятие</th>
                            <th scope="col">Дата мероприятия</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let protocol of protocols">
                            <th>{{protocol.number}}</th>
                            <td>{{protocol.createdAt | date : 'dd.MM.yyyy' }}</td>
                            <td>{{protocol.actionName}}</td>
                            <td>{{protocol.actionDate | date : 'dd.MM.yyyy' }}</td>
                            <td>
                                <a href="javascript:void(0)" [routerLink]="['//scheduler/protocol-details', protocol.id]">Перейти к протоколу</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </tab>
        <tab heading="Все протоколы школы">

        </tab>
    </tabset>
</div>