<h1>Протоколы меропритяий</h1>
<br/>
<div>
    <tabset>
        <tab heading="Из моих планов">
            <div style="text-align: center; margin-top: 50px; font-style: italic;">
              <span>Для мероприятий из ваших личных планов пока не было создано ни одного протокола. <br/>
                Перейдите в личный план, выберите мероприятие, для которого нужно создать протокол и нажмите на слово "Протокол".<br /><br />
                Протоколы можно создавать только для мероприятий, у которых установлена форма подтверждения выполнения "Протокол",<br /> а также название мероприятия при его создании или редактировании выбрано из выпадающего списка
              </span>
            </div>
            <div class="my-protocols-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Номер протокола</th>
                            <th scope="col">Протокол создан</th>
                            <th scope="col">Мероприятие</th>
                            <th scope="col">Дата мероприятия</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>09.08.20</td>
                            <td>Общешкольное собрание</td>
                            <td>08.08.20</td>
                            <td>
                                <a href="javascript:void(0)" [routerLink]="['//scheduler/protocol-details', 1]">Перейти к протоколу</a>
                            </td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>09.08.20</td>
                            <td>Общешкольное собрание</td>
                            <td>08.08.20</td>
                            <td>
                                <a href="javascript:void(0)">Перейти к протоколу</a>
                            </td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>09.08.20</td>
                            <td>Общешкольное собрание</td>
                            <td>08.08.20</td>
                            <td>
                                <a href="javascript:void(0)">Перейти к протоколу</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </tab>
        <tab heading="Все протоколы школы">

        </tab>
    </tabset>
</div>