/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';



.c0 {
  background-color: #ffffff;
}

.c1 {
  background-color: #FEE7E8;
}

.c2 {
  background-color: #EEF2FF;
}

.c3 {
  background-color: #d6fdd4;
}

.c4 {
  background-color: #F7EDFF;
}

.inner-action-card {
  padding: 5px;
}

.inner-action-card span {
  margin-top: 5px;
}

.action-icons {
  opacity: 0.3;
  transition: 0.5s;
}

tr:hover .action-icons {
  opacity: 1;
  transition: 0.5s;
}

body button {
  outline: none !important;
}

.loading:after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

.badge-info {
  background-color: rgb(92, 184, 92) !important;
  color: white !important;
  border: 0.5px solid #e4e4e4;
}

th, h1, h2, h3, h4, h5 {
  cursor: default !important; 
}