<h2>Социальный паспорт семьи</h2>
<tr>
    <td>
        <ng-select [items]="allAcademicYears"
                   style="width: 300px"
                   placeholder="Выберите учебный год"
                   bindLabel="name"
                   [(ngModel)]="selectedAcademicYear">
        </ng-select>
    </td>
    <td>
        <ng-select [items]="classes"
                   style="width: 300px;"
                   placeholder="Выберите класс"
                   bindLabel="name"
                   [(ngModel)]="selectedClassses">
        </ng-select>
    </td>
</tr>


<button pButton 
        pRipple 
        icon="pi pi-check-square" 
        (click)="showModalDialog()" 
        type="button" 
        label="Выбрать колонки для отображения" 
        style="margin-top: 8px; float: right;">
</button>
<p-dialog header="Выбор колонки для отображения" 
          [(visible)]="displayModal" 
          [modal]="true" 
          [style]="{width: '30vw'}" 
          [baseZIndex]="10000"
          [draggable]="false">
    <div>
        <div *ngFor="let column of columns" style="margin-bottom: 5px;">
            <p-checkbox [(ngModel)]="column.visibility" [binary]="true"></p-checkbox>
            <label>{{ column.name }}</label>
        </div>
    </div>

</p-dialog>
