.up-control {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.class-label {
    display: flex;
    align-items: baseline;
}

.class-label a {
    margin-left: 5px;
    cursor: pointer;
}