<div class="up-control">
  <ng-select [items]="[1,2,3]"
    style="width: 500px"
    placeholder="Выберите учебный год"
                   
    [clearable]="true">
  </ng-select>

  <button type="button" class="btn btn-success top-item"><span class="glyphicon glyphicon-plus"></span> Создать список класса</button>&nbsp;
</div>

<div>
  <h3>1 класс</h3>
      <div>
        <table class="table">
          <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Иванов </td>
              <td>вкакуак</td>
              <td>
                <a title="Исключить из списка класса" href="javascript:void(0)"><span style="color: rgb(255, 150, 45)" class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
