.badge {
  background-color: darkcyan;
}
.freezed {
  background-color: gainsboro;
}

.disabledLink {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.top {
  width: 100%;
}

.edit-schedule-link {
  color: purple;
  font-size: 20px;
  opacity: 0.1;
  transition: 0.5s;
}

.edit-schedule-link:hover {
  opacity: 1;
  transition: 0.5s;
}

.bottom-container {
  width: 100%;
}

.selected-bage {
  background-color: #66bb64 !important;
}
