<table class="rg-table">
  <tr class="head"> 
    <td rowspan="2">Ученики</td>
    <td colspan="4">месяц</td>
    <td colspan="3">месяц</td>
    <td colspan="4">месяц</td>
  </tr>
  <tr> 
    <td>день</td>
    <td>день</td>
    <td>день</td>
    <td>день</td>

    <td>день</td>
    <td>день</td>
    <td>день</td>

    <td>день</td>
    <td>день</td>
    <td>день</td>
    <td>день</td>

  </tr>

    
   
  <tr>
     <td>
      Иванов
     </td>
     <td>
       
    </td>
    <td>
       
    </td>
    <td>
       
    </td>
    <td>
       
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>
       
    </td>
    <td>
       
    </td>
    <td>
       
    </td>
    <td>
       
    </td>

  </tr>

  <tr>
    <td>
     Петров
    </td>
    <td>
      
   </td>
   <td>
      
   </td>
   <td>
      
   </td>
   <td>
      
   </td>
   <td>

   </td>
   <td>

   </td>
   <td>

   </td>
   <td>
      
   </td>
   <td>
      
   </td>
   <td>
      
   </td>
   <td>
      
   </td>

 </tr>

</table>