<div class="container" style="padding-top: 20px">

    <a routerLink="/" style="text-decoration: none;"><span class="glyphicon glyphicon-arrow-left"></span> Вернуться на главную</a>


    <h1>Выберите мониторинг</h1>
    <p>Если у вас нет доступа к нужному мониторингу - запросите к нему доступ у администрации вашей школы</p>

    <div class="list-group monitoring-list">
        <a href="javascript:void(0)"
           [routerLink]="['//monitoring/social-pasport']"
           class="list-group-item list-group-item-action">
            <span class='glyphicon glyphicon-list-alt'></span> Социальный паспорт семьи учащегося
        </a>
        <a href="javascript:void(0)"
           [routerLink]="['//monitoring/social-pasport']"
           class="list-group-item list-group-item-action">
            <span class='glyphicon glyphicon-list-alt'></span> Договоры школы с другими организациями
        </a>
        <a href="javascript:void(0)"
           [routerLink]="['//monitoring/social-pasport']"
           class="list-group-item list-group-item-action">
            <span class='glyphicon glyphicon-list-alt'></span> Карта занятости учащегося
        </a>
        <a href="javascript:void(0)"
           [routerLink]="['//monitoring/social-pasport']"
           class="list-group-item list-group-item-action">
            <span class='glyphicon glyphicon-list-alt'></span> Награды работников
        </a>
        <a href="javascript:void(0)"
           [routerLink]="['//monitoring/social-pasport']"
           class="list-group-item list-group-item-action">
            <span class='glyphicon glyphicon-list-alt'></span> Кадры
        </a>
        <a href="javascript:void(0)"
           [routerLink]="['//monitoring/social-pasport']"
           class="list-group-item list-group-item-action">
            <span class='glyphicon glyphicon-list-alt'></span> Одаренные дети
        </a>
    </div>
</div>