<div class="container" style="text-align:center">
  <h1>Здраствуйте! Вы находитесь в информационной системе <br /> МКОУ "Ширинская СОШ"</h1>
  <h3>Выберите нужное приложение ниже и выполните по необходимости вход для начала работы</h3>
  <br />
  <a class="btn btn-outline-info" routerLink="scheduler" role="button"><span class='glyphicon glyphicon-calendar'></span> <br /> Планирование</a>
  <a class="btn btn-outline-info" routerLink="monitoring" role="button"><span class='glyphicon glyphicon-list-alt'></span> <br /> Мониторинг</a>
  <a class="btn btn-outline-info" routerLink="statistic" role="button"><span class='glyphicon glyphicon-signal'></span> <br /> Статистика</a>
</div>
